extends layout
block body
  div(data-ng-controller="MainCtrl")
    div.container(data-ng-hide="true")
      h2 Initialising application
      div.progress.progress-striped.active
        div.progress-bar(style="width:100%")
    div.container(data-ng-cloak)
      div(data-ng-hide="ready")
        h2 Loading data
        div.progress.progress-striped.active
          div.progress-bar(style="width:100%")
      div.initialiseWrapper(data-ng-show="ready")
        header
          h1.title Burn Down Chart
          div(data-tnt-navigation)
        div(data-toaster-container, data-toaster-options="toastOptions")
        div(data-ui-view)
